.quiz_container{

    display: flex;
    flex-direction: column;

    overflow: scroll;
}

#dog_image_container{
    border-radius: 25px;
}

#dog_image_container > img{
    width: 100%;

    border-radius: 5px;
}

#answers_container{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40px);
}

#answers_container > div{
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
}